.app .app-header {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 64;
  padding-inline: 48;
  line-height: 64;
  background-color: #4096ff;
}

.app .app-title {
  color: white;
  margin: auto;
  padding: 0px;
}

.app .app-content {
  padding: 20px;
}

.app .systems-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.app .data-filters .ant-select {
  align-items: start;
  width: 100%;
}
